* {
  margin: 0;
}
header {
  background-color: rgb(54, 37, 15);
  position: fixed;
  width: 100%;
  opacity: .9;
}
.container{
    width: 1400px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}
nav {
  height: 150px;
  font-size: 20px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Playfair Display', serif;
}
.nav-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-text{
    text-align: center;
}
.logo {
  width: 110px;
}
h1{
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 9px;
}
.logo-text p {
  color: white;
  font-size: 15px;
  letter-spacing: 6.5px;
}
.music-travel-text{
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.music-travel h2{
  font-size: 50px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
    font-size: 25px;
}
main{
    display: flex;
    flex-direction: row;
    background-image: url("conductor.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 800px;
    background-size: 2000px;
}

.music-travel{
    margin-top: 200px;
    color: white;
}
h2{
    color: rgba(255, 255, 255, 1);

}
.music-travel p{
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 40px;
    padding-top: 20px;
}
h3{
    font-size: 40px;
    margin-bottom: 50px;
}
.block{
  display: flex;
  flex-direction: row;
}
.poster{
  margin-top: 100px;
}
.poster div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(54, 37, 15);
  margin-bottom: 100px;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  margin-left: 40px;
  line-height: 40px;
  font-weight: 600;
}
button{
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover{
  width:160px ;
  height:50px ;
  border-radius: 20px;
}
.aboutUs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutUs div{
  display: flex;
  flex-direction: row;
}
.aboutUs h2{
  color: black;
  font-size: 50px;
}
.aboutUs p{
  font-size: 20px;
}
.we-are{
  width: 30%;
}
.what-we-do{
  width: 50%;
}
footer{
  background-color: rgb(27, 26, 26);
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
footer p{
  padding-top: 10px;
}