* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgb(54, 37, 15);
    position: fixed;
    width: 100%;
    opacity: .9;
}

.container {
    width: 1400px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

nav {
    height: 150px;
    font-size: 20px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.nav-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-text {
    text-align: center;
}

.logo {
    width: 110px;
}

h1 {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 9px;
}

.music-travel {
    color: white;
    padding-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 350px;
}

.music-travel h2 {
    font-size: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: row;
    background-image: url("conductor.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h2 {
    color: rgba(255, 255, 255, 1);
}

.music-travel p {
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 40px;
    padding-top: 20px;
}

.posters {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
}

.card div {
    margin-left: 40px;
}

.card img {
    margin-bottom: 40px;
}

.card p {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 40px;
}

.card button {
    background-color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: 2px black solid;
    transition: 1s;
}

.card button:hover {
    border: 2px rgb(197, 0, 0) solid;
    background-color: rgb(197, 0, 0);
}

.aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
}

.aboutUs div {
    display: flex;
    flex-direction: row;
}

.aboutUs h2 {
    color: black;
    font-size: 50px;
}

.aboutUs p {
    font-size: 20px;
    padding-left: 10px;
}

.we-are {
    width: 30%;
}

.what-we-do {
    width: 50%;
}

footer {
    background-color: rgb(27, 26, 26);
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

footer p {
    padding-top: 10px;
}