* {
  margin: 0;
}
header {
  background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
  margin-bottom: 100px;
}
.container{
    width: 1400px;
    margin: auto;
}
.nav-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-text{
    text-align: center;
}
.logo-text h1 {
  color: rgba(241, 205, 179, 1);
}
.logo-text p {
  color: rgba(205, 205, 205, 1);
  font-size: 20px;
}
.logo-block {
  display: flex;
  flex-direction: row;
}
a {
  color: rgba(205, 205, 205, 1);
  text-decoration: none;
}
a:hover{
    color: white;
}
nav {
  height: 150px;
  font-size: 20px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 110px;
}
h1 {
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
}
button{
    background-color: #F1CDB3;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(253, 220, 196, 1);
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music-travel{
    margin-top: 200px;
}
h2{
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}
.music-travel p{
    color: rgba(205, 205, 205, 1);
    font-size: 20px;
    margin-bottom: 50px;
}
.first-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.first-block-text{
    display: flex;
    flex-direction: column;
    color: rgba(84, 84, 84, 1);
    width: 600px;
}
h3{
    font-size: 40px;
    margin-bottom: 50px;
}
.first-block-text p{
font-size: 20px;
line-height: 35px;
}